BODY, TD, SELECT, input, DIV, form, TEXTAREA, center, option, pre
blockquote {
    font-size: 9pt;
    font-family: 굴림, 돋움, Arial;
    color: #2E2D2D;
    line-height: 120%
}

A:link {
    font-family: 굴림, 돋움, Arial;
    font-size: 9pt;
    color: #2E2D2D;
    text-decoration: none;
}

A:visited {
    font-family: 굴림, 돋움, Arial;
    font-size: 9pt;
    color: #2E2D2D;
    text-decoration: none;
}

A:active {
    font-family: 굴림, 돋움, Arial;
    font-size: 9pt;
    color: #2E2D2D;
    text-decoration: none;
}

A:hover {
    font-family: 굴림, 돋움, Arial;
    font-size: 9pt;
    color: #2E2D2D;
    text-decoration: none;
}

